<div th:fragment="add_user">
    <div class="container p-3 border">
        <p class="h5">Add new user</p>
    </div>
    <div class="container bg-white border">
        <div class="container-fluid">
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4 p-4">
                    <form id="newUserForm">
                        <div class="form-group mb-3 mt-3">
                            <label for="firstName" class="d-flex justify-content-center fw-bold">User name</label>
                            <input type="text" name="firstName" class="form-control" id="firstName" placeholder="First name">
                        </div>
                        <div class="form-group mb-3 mt-3">
                            <label for="lastName" class="d-flex justify-content-center fw-bold">Last name</label>
                            <input type="text" name="lastName" class="form-control" id="lastName" placeholder="Last name">
                        </div>
                        <div class="form-group mb-3 mt-3">
                            <label for="age" class="d-flex justify-content-center fw-bold">Age</label>
                            <input type="number" name="age" class="form-control" id="age" placeholder="age">
                        </div>
                        <div class="form-group mb-3 mt-3">
                            <label for="email" class="d-flex justify-content-center fw-bold">User email</label>
                            <input type="email" name="email" class="form-control" id="email" placeholder="User email">
                        </div>
                        <div class="form-group mb-3 mt-3">
                            <label for="password" class="d-flex justify-content-center fw-bold">Password</label>
                            <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                        </div>
                        <div class="form-group mb-3 mt-3">
                            <label for="newUserRoles" class="d-flex justify-content-center fw-bold">Roles</label>
                            <select class="form-control" multiple id="newUserRoles" name="roles"></select>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" id="buttonFormAddUser" class="btn btn-success mt-1">Add new user</button>
                        </div>
                    </form>
                </div>
                <div class="col-4"></div>
            </div>
        </div>
    </div>
</div>