<div class="container-fluid bg-dark text-white" th:fragment="header (user)">
    <div class="row">
        <div class="col p-3">
            <b th:text="${user.email}">example@gmail.com</b> with roles: <b th:each="role: ${user.roles}"><span th:text="${role.authority.substring(5)} + ' '"></span></b>
        </div>
        <div class="col-1 align-self-end p-3 cur">
            <div class="text-white-50 cursor-pointer" >
                <b>
                    <a href="/logout" class="text-secondary text-decoration-none">Logout</a>
                </b>
            </div>
        </div>
    </div>
</div>